Configuring the working directory.

In [1]:
import os
os.chdir('E:\Project\Titanic')
os.getcwd()

'E:\\Project\\Titanic'

Calling Pandas and training data as train.

In [19]:
import pandas as pd
train = pd.read_csv('train.csv')

Exploratory Data Analysis.

In [20]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
train.shape

(891, 12)

Loading pycaret.

In [23]:
from pycaret.classification import *
setup_survived = setup(train, target = 'Survived')

Comparing models.

In [26]:
top5_survived = compare_models(sort='Accuracy', n_select=5)

Turning the selected top 5 models.

In [27]:
tune5_survived = [tune_model(i) for i in top5_survived]

Blending 5 models into a single model.

In [28]:
blend_survived = blend_models(estimator_list=tune5_survived)

Creating a final model based on the entire data

In [36]:
final_survived = finalize_model(blend_survived)

Calling in Test.csv to make predictions based on final_survived data

In [37]:
test = pd.read_csv('test.csv')
prediction = predict_model(final_survived, data=test)

In [38]:
prediction

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Label
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0

Column "Label" shows whether the passenger is predicted to survived(1).
The predicted dataframe will be exported to be compared with Kaggle data.

In [44]:
prediction = prediction.rename(columns = {"Label" : "Survived"})
prediction.to_csv('prediction.csv', columns = ['PassengerId','Survived'], index = False)

Evaluated prediction score is 0.77272.